@mixin letter($color, $size) {
    font-family: "Spartan", sans-serif;
    font-size: $size;
    color: $color;
}

@mixin flexBox($type, $direction, $align, $justify) {
    display: $type;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $align;
}

body {
    transition: 1s ease;
    font-size: 50%;
}

header {
    @include flexBox(flex, row, center, center);
    background-color: transparent;
    min-width: 43em;
    max-width: 43em;
    margin: auto;
    margin-top: 5%;

    h1 {
        display: block;
        width: 50%;
        @include letter(#fff, 1.5rem);
    }

    .switch-style {
        @include flexBox(flex, row, center, flex-end);
        width: 50%;

        span {
            display: block;
            padding: 0.5rem;
            @include letter(#fff, 0.8rem);
        }

        .switch-box {
            display: flex;
            width: 6em;
            height: 100%;
            position: relative;
            border-radius: 30px;
            transition: 0.5s ease;

            .switch-button-text {
                @include flexBox(flex, row, center, center);
                width: 100%;
                position: absolute;
                bottom: 0%;

                span {
                    height: 3em;
                    @include letter(#fff, 0.6rem);

                }
            }

            .switch-button {
                width: 15px;
                height: 15px;
                margin: 0.3em;
                border-radius: 100%;
            }
        }
    }
}

main {
    @include flexBox(flex, column, center, center);
    background-color: transparent;
    margin: auto;

    .screen {
        @include flexBox(flex, column, flex-end, center);
        width: 43em;
        padding: 1em;
        border-radius: 15px;
        transition: 1s ease;

        .historial {
            @include letter(rgb(218, 229, 229), 1rem);
        }

        input[type="text"] {
            display: block;
            width: 90%;
            text-align: end;
            margin: auto;
            padding: 0.3em;
            @include letter(#fff, 2.5rem);
            background-color: transparent;
            border: none;
            outline: none;
        }
    }

    .basic-functions {
        display: grid;
        grid-template-columns: repeat(4, 4rem);
        grid-template-rows: repeat(5, 2rem);
        gap: 1rem;
        margin-top: 2em;
        border-radius: 15px;
        transition: 1s ease;
        padding: 3em;

        button {
            width: 100%;
            @include letter(#585a64, 1.5rem);
            padding: 0.5rem;
            box-shadow: 0 0.19em 0em #a99c97;
            border-radius: 5px;
            font-size: 1.3rem;
            border: none;
            text-align: center;
            cursor: pointer;
        }

        .col {
            display: flex;
            flex-direction: column;
            gap: 1rem;

        }

        #del,
        #reset {
            display: block;
            text-align: center;
            background-color: #647299;
            font-size: 1.3rem;
            color: #fff;
            box-shadow: 0 0.19em 0em #4e5a81;
        }

        #output {
            display: block;
            background-color: #d13f30;
            color: #fff;
            font-size: 1.3rem;
            box-shadow: 0 0.19em 0em #902418;
        }

        .btnNum {
            display: block;
            background-color: #eae3db;
        }

        .buttons {
            @include flexBox(flex, row, center, center);
            gap: 1rem;
            grid-column: 1/5;
            grid-row: 6/6;
        }

    }

}

.attribution {
    color: #fff;
    font-size: 11px;
    text-align: center;
    padding: 1.6em;
}

.attribution a {
    @include letter(#ff0, 1rem);
}